/** @format */

.service {
  background: #fff;
  padding: 1.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: var(--radius);
  text-align: center;
}
.service-icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.service .underline {
  height: 0.15rem;
}
.service,
.service .underline,
.service p {
  transition: var(--transition);
}
.service:hover {
  background: rgb(233, 185, 73);
  color: #fff;
  background-color: rgb(169, 17, 211);
}
.service:hover p {
  color: #fff;
}
.service:hover .underline {
  background: #fff;
}
@media screen and (min-width: 676px) {
  .services-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

