/** @format */

.skills h3 {
  margin: 0.5rem 0;
  color: rgb(81, 60, 6);
}
.skill {
  margin-bottom: 1.25rem;
}
.skill p {
  margin-bottom: 0.5rem;
  color:  rgb(81, 60, 6);
}
.skill-container {
  background-color: rgb(216, 203, 219);
  height: 1rem;
  width: 100%;
  border-radius: var(--radius);
  position: relative;
}
.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(93, 9, 121, 1);
  height: 100%;
  border-radius: var(--radius);
}
.skill-text {
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
